---
import { twMerge } from 'tailwind-merge';
import type { ImageMetadata } from 'astro';
import Image from '../Image';
interface BlurredBackdropProps {
  class?: string;
  image: string | ImageMetadata;
  blur?: number;
}
export type Props = BlurredBackdropProps;
const {
  class: className,
  image,
  blur = 180,
  ...rest
} = Astro.props;

---
<div class={twMerge(
  'opacity-75 overflow-hidden select-none',
  className,
)} style={{
  filter: `blur(${blur}px)`,
  ...rest,
}}>
  <Image src={image} alt='backdrop' class='object-fill h-full w-full' role='none' loading='eager' />
</div>
