---
import type { MaterialPostCardProps as PostCardProps } from '.';

export type MaterialPostCardProps = Omit<PostCardProps, 'variant'>;
export type Props = MaterialPostCardProps;
---
<div>MaterialPostCard</div>
