---
import PageLayout from '@/layouts/PageLayout.astro';
import Tag from '@/components/Tag';
import getTags from '@/utils/getTags';
import type { Page } from '@/types';

const tags = (await getTags()).sort((a, b) => b.count - a.count);
const page: Page = {
  type: 'tags',
  title: '标签',
  tags,
}
---

<PageLayout page={page} hasSidebar={false}>
  <div class="flex flex-wrap gap-2 my-6 md:my-14">
    {tags.map(tag => <Tag onlyText className='min-w-0 plate-bg plate-shadow border-highlight leading-4 rounded-md hover:bg-primary-500 hover:text-white' tag={{
      label: `${tag.label} ${tag.count}`,
      url: tag.url
    }} />)}
  </div>
</PageLayout>
